name: CI and Preview

on:
  pull_request:
    branches:
      - main

  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  deployments: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Setup Node
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 'lts/*'
        check-latest: true
        package-manager-cache: false

    - name: Install pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      with:
        run_install: |
          - recursive: true
            args: [--no-frozen-lockfile]

    - name: Setup bun
      uses: oven-sh/setup-bun@b7a1c7ccf290d58743029c4f6903da283811b979 # v2.1.0

    - name: lint
      run: bun run lint

    - name: build
      run: bun run --bun build

    - name: audit
      run: pnpm audit
